/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


.header {
    background-color: #111827dd;
    color: white;
    height: 100px;
    display: flex;
    gap: 40px;
    font-size: 2em;
    justify-content: flex-start;
    align-items: center;
    gap: 320px;
    padding-left: 20px;
}
.header a {
    padding: 20px;
    cursor: pointer;
}
.header a:hover {
    background-color:#374151;
}

.header a.active {
    background-color: #6b728066;
    color: white;
}

.footer {
    background-color:#111827dd ;
    color: white;
}



.content {
    min-height: 100vh;
    background-image: url('background-img.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main {
    width: 700px;
    background-color:#0f172acc;
    margin: 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main p {
    color: white;
    font-size: 1.4rem;
    padding: 50px 50px;
    text-align: center;
}

.home-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.menu {
    width: 700px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin:30px auto;
    background-color: #0f172a55;
    background-attachment: fixed;
    background-position: center center;
}

.food-container {
    background-color: #0f172abb;
    color: white;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px  auto;
    font-size: 1.1rem;
}

.image-container {
    object-fit: contain;
    height: 180px;
}

.contact {
    width: 700px;
    min-height:78vh;
    background-color:#0f172aaa;
    margin: 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
}

.contact-bold {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 20px;
}